$color1: #0081A7; //    infobox
$color2: #00AFB9; //    firstrun
$color3: #F8F8F8; //    bc   stary kolor: #FDFCDC   F6F6F2
$color4: #C6C5C8; //    MenuText, Shadow
$color5: #F07167; //    infobox, interaction
$color6: #fff; //       text
$color7: #000; //        ActTextMenu