$color1: #0081A7; //    infobox
$color2: #00AFB9; //    firstrun
$color3: #1f1f21; //    bc   stary kolor: #FDFCDC   F6F6F2
$color4: #0d0d0d; //    MenuText, Shadow
$color5: #74130b; //    infobox, interaction
$color6: #000; //       text
$color7: #fff; //        ActTextMenu