$color1: #0081A7; //    infobox
$color2: #00AFB9; //    firstrun
$color3: #1f1f21; //    bc   stary kolor: #FDFCDC   F6F6F2
$color4: #d6d3d3; //    MenuText, Shadow
$color5: #F07167; //    infobox, interaction
$color6: #1f1f21; //       text
$color7: #d6d3d3; //        ActTextMenu



$TextColorBody: #d6d3d3;


//Dark motyw: https://coolors.co/0b132b-1c2541-3a506b-5bc0be-6fffe9