@import 'DayColorSchema';


@font-face {
    font-family: "Arbutus Slab";
    src: url(../font/ArbutusSlab-Regular.ttf);
}

@font-face {
    font-family: fontello;
    src: url(../font/fontello.ttf);
}


body {
    font-family: 'Arbutus Slab', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    height: 100%;
    background: $color3;
    overscroll-behavior-y: contain;
    color: $TextColorBody;
}


a {
    text-decoration: none;
    color: $color7;
}

//Details
details>summary {
    list-style: none;
}

details>summary::-webkit-details-marker {
    display: none;
}

summary:focus {
    outline: none;
}


@import 'firstRun';
@import 'layoutElements';

//Alert 
@import 'allertBox';

//APP
@import 'infoBoxApp';
@import 'navApp';

//Panels
@import 'cardPanel';
@import 'boxTarget';

//Lista zakupów
@import 'shoppingListPanel';

//Użytkownik
@import 'userPanel';