@font-face {
  font-family: "Arbutus Slab";
  src: url(font/ArbutusSlab-Regular.ttf);
  font-weight: 0;
}

body {
  font-family: 'Arbutus Slab', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  height: 100%;
  background: #FDFCDC;
}

body a {
  text-decoration: none;
  color: black;
}

.FirstRun {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #00AFB9;
  color: #fff;
}

.FirstRun--open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.FirstRun__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: auto;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

.FirstRun__slider::-webkit-scrollbar {
  width: 10px;
  height: 39px;
}

.FirstRun__slider::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 8px;
}

.FirstRun__slider::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.5);
}

.FirstRun__slide {
  min-width: 100vw;
  scroll-snap-align: center;
  padding: 5px 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.FirstRun__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0px;
  width: 100vw;
  z-index: 999;
}

.FirstRun__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  width: 100%;
  height: 39px;
  overflow: hidden;
  font-size: 0;
}

.FirstRun__element:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 100%;
  width: 15px;
  height: 15px;
  -webkit-box-shadow: 0px 0px 0px 2000px #00AFB9;
          box-shadow: 0px 0px 0px 2000px #00AFB9;
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
}

.slide__img {
  height: 100%;
  width: 100%;
  max-height: 40vh;
  min-height: 40vh;
}

.slide__img--1 {
  background: url("../img/firstRun/promocje.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.slide__img--2 {
  background: url("../img/firstRun/wlasna.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.slide__img--3 {
  background: url("../img/firstRun/pomagaj.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.slide__img--4 {
  background: url("../img/firstRun/regulamin.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.slide__title {
  text-align: center;
  padding: 2vh 0 2vh 0;
}

.slide__title--rules {
  margin-bottom: 0;
}

.slide__desc {
  text-align: justify;
}

.slide__desc--rules {
  height: 100%;
  overflow-y: scroll;
}

.slide__desc--rules::-webkit-scrollbar {
  width: 5px;
}

.slide__desc--rules::-webkit-scrollbar-thumb {
  background: #F07167;
  border-radius: 3px;
}

.slide__desc--rules::-webkit-scrollbar-track {
  background-color: rgba(0, 129, 167, 0.2);
  border-radius: 3px;
}

.slide__acceptrul {
  margin: 4vh 0 2vh 0;
  padding: 2vh 0;
  background: #F07167;
  color: #fff;
  text-align: center;
  font-weight: bold;
}

.slide__acceptrul:hover {
  background: rgba(240, 113, 103, 0.9);
}
/*# sourceMappingURL=style.css.map */